@media(max-width:480px){
    *{
        margin: 0;
        padding: 0;
    }
    @font-face {
        font-family: "Comfortaa";
        src: url(".//midia/Comfortaa-Light.ttf") format("truetype");
    }
    .menu-topo{
        width: 100%;
        height: 70px;
        background-color: #7B9BDD;
        border-radius: 0 0 30px 0;  
        display: flex;
        align-items: center;
        position: absolute;
        /* position: fixed; */
        z-index: 5;
    }
    .menu-topo #logo{
        padding: 10px;
        width: 110px;
        height: auto;
        /* margin-right: 100px; */
        
    }
    .menu-topo #notas{
        height: 35px;
        width: auto;
        /* padding-right: 10px; */
        padding-left: 100px;
    }
    .menu-topo .foto{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        right: 0%; 
        position: absolute;
        background-color: white;
        margin-right: 10px;
        /* margin: 10px; */
    }
    .pesquisa{
        width: 100%;
        height: 65px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
        margin-top: 45px;
        position: absolute;
        top: 0%;
        z-index: 1;
        background-color: white;
        
    }
    .pesquisa input{
        outline: none;
        border: none;
        float: left;
        font-size: 15px;
        
    }
    .pesquisa .buscar{
        margin-top: 31px;
        width: 65%;
        height: 25px;
        border: solid 2px #7B9BDD;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        float: left;
        overflow: hidden;
    }
    .pesquisa .buscar img{
        height: 27px;
        width: auto;
        float: left;
    }
    .pesquisa #filtro{
        height: 26px;
        width: auto;
        float: left;
        margin-top: 31px;
        margin-left: 50px;
    }
    .container{
        width: 100%;
        height: 65%;
        top: 50%;
        transform: translate(0, -45%);
        position: absolute;
        overflow: scroll;
        display: flex;
        align-items: center;
        overflow-y: hidden;
    }
    .conteudo{
        height: 100%;
        width: 300%;
        /* margin: 50px; */
        /* background-color: blue; */
        float: left;
        /* margin: 30px; */
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .caixas{
        width: 280px;
        height: 300px;
        background-color: rgb(230, 230, 230);
        float: left;
        margin: 15px;
        overflow: hidden;
        border-radius: 30px;
    }
    .titulo{
        width: 100%;
        height: 50px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo h1{
        color: white;
        font-family: "Comfortaa"; 
        font-size: 20px;

    }
    #planejamento{
        background-color: #FFAF7B;
    }
    #andamento{
        background-color: #4AADFF;
    }
    #conquistas{
        background-color: #46CAC3;
    } 
    .add{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        bottom: 15%;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient( #7B9BDD, #81CBD0);
        transition: all 0.4s;
    }
    .add img{
        height: 30px;
        width: auto;
    }
    .adicionando{
        position: absolute;
        z-index: 3;
        /* width: 0;
        height: 0; */
        background-color: white;
        bottom: 0%;
        right: 0%;
        text-align: center;
        /* opacity: 0; */
        transition: all 0.4s;
        overflow: hidden;
    }
    .adicionando .etapa{
        background-color: #7B9BDD;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        color: white;
        font-family: "Comfortaa";
        border-radius: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .adicionando .form{
        width: 80%;
        display: inline-block;
        margin: 10px;
    }
    .adicionando .form .caixa-input{
        width: 100%;
        height: 30px;
        border: solid 2px rgb(185, 185, 185);
        font-size: 20px;
        border-radius: 20px;
        
        display: flex;
        align-items: center;
    }
    .adicionando .form .caixa-input input{
        margin-left: 7px;
        width: 90%;
        border: none;
        outline: none;
        font-size: 15px;
    }
    .adicionando .form input::-webkit-input-placeholder{
        font-size: 15px;
        color: rgb(214, 214, 214);
    }
    .adicionando .form p{
        color: #4A79DA;
        font-family: 'Comfortaa';
        float: left;
        margin-bottom: 7px;
    }
    .adicionando .cancelar{
        height: 60px;
        width: 60px;
        background-color: #F39292;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 5%;
        float: left;
        overflow: hidden;
    }
    .adicionando .cancelar img{
        height: 25px;
        width: auto;
    }
    .adicionando .proximo{
        height: 60px;
        width: 60px;
        background-color: #7B9BDD;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        right: 5%;
        float: right;
        overflow: hidden;
        /* display: none; */
    }
    .adicionando .proximo img{
        height: 25px;
        width: auto;
    }
   .menu-baixo{
        width: 100%;
        /* height: 120px; */
        position: absolute;
        bottom: 0%;
        /* position: fixed; */
        z-index: 2;
        /* overflow: hidden; */
    }
    .menu-baixo ul li{
        list-style-type: none;
        padding: 3px;
        display: inline-block;
    }
    
    .opcoes{
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: #7B9BDD;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: 30px 0 0 0;  */
        
    }
    .sub-opcoes{
        width: 100%;
        text-align: center;
        height: 0;
        background-color: white;
        overflow: hidden;
        transition: all 0.4s;
    }
    .sub-opcoes ul li{
        margin-top: 8px;
    }
    .opcoes ul li h1{
        padding: 6px;
        border: solid 2px white;
        border-radius: 20px;
        color: white;
        font-family: 'Comfortaa';
        font-size: 12px;
        transition: all 0.4s;
    }
    .sub-opcoes ul li h2{
        padding: 6px;
        border: solid 2px #7B9BDD;
        border-radius: 20px;
        color: #7B9BDD;
        font-family: 'Comfortaa';
        font-size: 12px;
    }
    .selecionado{
        background-color: #4A79DA;
        transform: all;
    }
    .abrir{
        height: 100px;
    }
    .div1{
        width: auto;
        height: auto;
        float: left;
    }
    .div2{
        width: auto;
        height: auto;
        float: left;
    }
    .dias{
        width: 100%;
        height: 25px;
    }
    .dias input{
        display: none;
    }
    .dias label{
        float: left;
        font-size: 15px;
        margin-top: 10px;
        padding: 3px;
        height: 14px;
        width: 14px;
        margin: 8px;
        border: solid 1px rgb(185, 185, 185);
        border-radius: 50%;


    }
    .apertado{
        background-color: #7B9BDD;
       
    }
    .dias #dom:checked ~ #dom{
        background-color: #7B9BDD; 
    }
    .dias #dom:checked ~ #dom p{
        color: white;
    }
    .dias #seg:checked ~ #seg{
        background-color: #7B9BDD; 
    }
    .dias #seg:checked ~ #seg p{
        color: white;
    }
    .dias #ter:checked ~ #ter{
        background-color: #7B9BDD; 
    }
    .dias #ter:checked ~ #ter p{
        color: white;
    }
    .dias #qua:checked ~ #qua{
        background-color: #7B9BDD; 
    }
    .dias #qua:checked ~ #qua p{
        color: white;
    }
    .dias #qui:checked ~ #qui{
        background-color: #7B9BDD; 
    }
    .dias #qui:checked ~ #qui p{
        color: white;
    }
    .dias #sex:checked ~ #sex{
        background-color: #7B9BDD; 
    }
    .dias #sex:checked ~ #sex p{
        color: white;
    }
    .dias #sab:checked ~ #sab{
        background-color: #7B9BDD; 
    }
    .dias #sab:checked ~ #sab p{
        color: white;
    }
    #horario{
        width: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        float: left;
        margin-right: 200px;
    }
    #horario input{
        width: 70px;
    }
    /* #deixa{
        display: none;
        transition: all 0.6s;
        opacity: 0;
    } */
    #rotina{
        display: none;
        transition: all 0.6s;
        opacity: 0;
    }
    #recompensa{
        display: none;
        transition: all 0.6s;
        opacity: 0;
    }
    .aparecer{
        display: block;
        opacity: 1;
    }

    .caixa-input select{
        border: none;
        margin-left: 5px;
        font-size: 15px;
        outline: none;
        width: 90%;
        background-color: transparent;
    }
    .form #recompensa1 p{
        padding-top: 10px;
        padding-left: 5px;
        /* padding-right: 25px; */
        font-size: 15px;
    }
    .form #recompensa1{
        border: none;
        width: 40%;
        float: left;
        margin: 0;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }
    .form #recompensa1 input{
        display: none;
    }
    .check{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: solid 2px rgb(185, 185, 185);
    }
    #recompensa1 input:checked ~ label .check{
        background-color: #4A79DA;
    }
    .adicionando .recompensa1 .caixa-input{
        width: 40%;
        float: left;
        margin: 12px;
    }
}
@media(max-height: 450px){
    .caixas{
        height: 270px;
    }
}
@media(min-height: 570px){
    .caixas{
        height: 400px;
    }
}
@media(max-height: 500px){
    /* .adicionando{
        height: 400px;
        margin-top: 150px;
    } */
    .adicionando .form{
        margin: 0;
        padding: 0;
    }
    .pesquisa{
        display: none;
    }
    .menu-topo{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
    }
}
@media(max-height: 555px){
    /* .adicionando{
        height: 400px;
        margin-top: 150px;
    } */
    .adicionando .form p{
        margin: 0;
        padding: 0;
    }
    .adicionando .form{
        margin: 5px;
    }
    .container{
        top: 47%;
    }
    .caixas{
        height: 90%;
    }

    .pesquisa{
        display: none;
    }
    .menu-topo{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
    }
}